*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(124, 184, 204);
}
#container, header{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(114, 130, 136);
    height: 6rem;
}
header{
    justify-content: space-between;
    margin-bottom: 1rem;
}
#pokebola{
    width: 6rem;
}
#contenedor{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}
#card{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    top: 27%;
    left: 25%;
}
#card > span {
    position: relative;
    left: 10%;
    width: 50%;
}
#pokeimg{
    margin-left: 1.5rem;
    width: 9rem;
}
#pokedex{
    width: 50%;
}
#relativo{
    position: relative;
}
#close{
    position: absolute;
    top: 0;
    right: 25%;
}
li{
    margin-left: 1rem;
}
/*input{
    width: 15rem;
    margin-bottom: 1rem;
}*/
/*#pokebola{
    display: none;
}*/
#tarjetas{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
}
article{
    background-color: rgb(238, 250, 255);
    margin: 1rem 2rem;
    border-radius: 0.5rem;
    box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.2);
    padding: 2rem;
}
#final{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#mas{
    font-size: 1.5rem;
    padding: 0.3rem;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    border: 0;
    box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.5);
}


@media screen and (max-width: 1024px) { 
    #pokedex{
        width: 100%;
    }
    header{
        flex-direction: column;
    }
    #card{
        left: 2%;
        top: 30%;
    }
    #close{
        right: 0;
    }
}
@media screen and (max-width: 768px) { 
    #card{
        font-size: smaller;
        left: 0%;
        top: 25%;
    }
    #pokeimg{
        margin-left: 0;
    }
}